@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            background-image: url("../assets/background.png");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: row;
        }

        .circle {
            background-color: #fff;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            display: flex;
            width: 280px;
            height: 270px;
            margin-top: 6%;
            margin-left: 5%;

            img {
                border: 1px solid black;
                border-radius: 0%;
            }
        }

        .buttons {
            display: flex;
            flex-direction: column;
            width: 13em;
            gap: 1.3em;
            margin-left: 2.7em;
            justify-content: center;
        }

        #create, #see {
            font-size: 15px;
            width: 100%;
            border-radius: 20px;
            font-family: Inter;
            padding: 0.35em;
            border: none;
            font-weight: 600;
        }

        #create {
            background-color: #35BC04;
            color: white;
        }

        #see {
            background-color: #F5F5F5;
            color: #787373;
        }
