@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: Inter;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
}

img {
    width: 60px;
    height: 70px;
}

.search {
    margin-left: 3em;
    padding: 0.75em 12em 0.75em 1em;
    justify-content: center;
    border-radius: 20px;
    background: #F5F5F5;
    font-size: 0.9em;
    border: none;
}

.filter {
    margin-left: 1.7em;
    width: 23px;
    height: 23px;
}

.cart {
    margin-left: 1.7em;
    width: 23px;
    height: 23px;
}

.upperPreferences {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.lowerPreferences {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.preferenceButton {
    display: flex;
    padding: 0.45em 1.4em;
    border-radius: 20px;
    color: #fff;
    font-size: 0.6em;
    border: none;
    cursor: pointer;
}

.preferenceButton:hover {
    transform: translateY(-3px);
}

.recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin-top: 2em;
}

.recipeContainer {
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 100%;

    img {
        width: 100%;
        object-fit:contain;
        height: auto;
    }

    .recipeContent {
        padding: 0.5em;
        display: flex;
        flex-direction: column;
    }

    .preferenceButton {
        border-radius: 20px;
        font-size: 0.5em;
        padding: 0.3em 1.4em;
        cursor: auto;
        transform: none;
    }

    h2 {
        margin: 0;
        font-weight: 400;
        font-size: 0.65rem;
    }

    .recipeTags {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 5px;
    }

    .upperTags {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .proteinIcon {
        width: 1.1em;
        height: 1.2rem;
    }

    .lowerTags {
        display: flex;
        gap: 15px;
    }

    .recipeActions {
        display: flex;
        justify-content: space-between;
        font-size: 1em;
        margin-top: 20px;
    }

    #typeOfCourse,
    #adjust {
        border: 1px solid #35BC04;
        color: #35BC04;
    }

    #add, #adjust {
        cursor: pointer;
    }
}